NODE_ENV=development
API_GATEWAY_PORT=3000
API_GATEWAY_CORS_ORIGIN=*
API_GATEWAY_RATE_LIMIT_WINDOW_MS=900000
API_GATEWAY_RATE_LIMIT_MAX=200

AUTH_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3003
CART_SERVICE_URL=http://localhost:3007
