NODE_ENV=development
USER_PORT=3002
USER_CORS_ORIGIN=*
USER_BCRYPT_SALT_ROUNDS=10
USER_MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>/petfood_user?retryWrites=true&w=majority
JWT_SECRET=petfood_secret_key
